body {
    margin: 0 auto;
    background: url("") no-repeat center;
    background-size: cover;
}

#header {
    position: fixed;
    width: 100%;
    margin: 0 !important;
    padding: 30px;
    color: white;
    background-color: #a1887f;
    z-index: 10;
}

h1 {
    margin: 0 !important;
    font-size: 30px !important;
    font-family: Russo One;
}

h4 {
    margin: 0 !important;
    font-size: 20px !important;
    font-family: Maven Pro;
}

#left-column {
    position: fixed;
    top: 114px;
    background-color: #fafafa;
    width: 25%;
    height: 100%;
    float: left;
}

#intro {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 30px;
    background-color: white;
    width: 90%;
    height: 270px;
    border-radius: 3px;
    overflow-y: scroll;
}

#right-column {
    margin-top: 114px;
    width: 75%;
    float: right;
}

#fixed-img-div {
    margin: 0 auto;
    height: 60rem;
    background: url("images/la-bg-2.jpg") no-repeat fixed;
    background-size: cover;
}

h3 {
    margin: 0 auto !important;
    padding: 5%;
    width: auto;
    text-align: center;
    background-color: #8d6e63;
    color: white;
    font-family: Maven Pro;
    font-weight: normal;
    font-size: 25px !important;
}

#show-list {
    width: 150px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#table-div {
    margin: 0 auto;
    width: 70%;
    height: 70%;
    background-color: white;
    color: black;
    font-family: Maven Pro;
    font-size: 15px;
    border-radius: 5px;
    overflow: scroll;
}

h2 {
    margin: 0 auto !important;
    padding: 10%;
    color: white;
    font-family: Maven Pro;
    font-size: 30px !important;
    text-align: center;
    background-color: #8d6e63;
}

p {
    color: black;
    list-style-type: none;
    font-family: Maven Pro;
}

.row {
    margin-bottom: 0 !important;
}

#card-div {
    margin: 0 auto !important;
}

.card {
    /*margin: 0 auto !important;*/
    margin: 2% 1.5% 1.5% !important;
    width: 30%;
    min-width: 250px;
    vertical-align: top;
    display: inline-block;
    font-family: Maven Pro;
}
.card-content {
    background-color: #efebe9;
} 

.btn {
    background-color: #795548 !important;
    display: block !important;
    margin: 10px;
    font-family: Libre Franklin;
}

.btn:hover {
    background-color: #bcaaa4 !important;
}

footer {
    padding: 10px;
    color: white;
    margin-bottom: 0 !important;
    text-align: center;
}

#load-more-button {
    margin: 15px;
    float: right;
    background-color: #795548 !important;
}

#load-more-button:hover {
    background-color: #bcaaa4 !important;
}

i {
    font-style: normal;
}

#load-card-1, #load-card-2, #load-card-3, #load-card-4, #load-card-5, 
#load-card-6, #load-card-7, #load-card-8,#load-card-9 {
    display: none;
}

blockquote {
    border-left: 5px solid #d7ccc8 !important;
}